VITE_API_URL=http://localhost:8081/api
VITE_APP_BASE_URL=http://localhost:5173
VITE_EMAILJS_SERVICE_ID=service_bdzmiky
VITE_EMAILJS_TEMPLATE_ID=template_6exlpiq
VITE_EMAILJS_PUBLIC_KEY=aWMkAvZjOhPQxaT3n