HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
.env
.env.*
env.local
!.env.example
.env.local

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Local app config ###
src/main/resources/application.properties
src/main/resources/application-local.properties
src/main/resources/application-*.properties

### Node.js ###
node_modules/
package-lock.json
<<<<<<<<< Temporary merge branch 1
npm-debug.log*
nyarn-error.log*
pnpm-debug.log*
lerna-debug.log*
.npm/
.npmrc
npx-cache/
.yarn/
dist/
=========
*.log
npm-debug.log
yarn-error.log
>>>>>>>>> Temporary merge branch 2
